.DS_Store
node_modules/
/dist
dist.zip
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
src/common/common.js
src/components/page/system/editPassword.vue
src/components/page/contract/contractToBeReviewed.vue
src/components/page/contract/contractApproveMain.vue
src/components/page/adjustment/adjustmentInfoHistory.vue
src/assets/css/global.css

src/components/page/system/editPassword.vue
src/components/page/Vehicle/VehicleMsgManagement.vue
src/components/page/customer/DealersManagement.vue
src/components/page/Vehicle/VehicleMsgManagement.vue
src/components/page/adjustment/VehicleAdjust.vue

src/components/page/contract/approvalContract.vue
src/components/page/contract/contractSearch.vue
src/components/page/system/EditUserManage.vue
src/components/page/contract/contractToBeReviewed.vue
src/components/page/system/EditRole.vue
src/components/page/system/AddUserManage.vue
src/components/page/Vehicle/carTypeManagement.vue
